.snippet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3em;
  max-width: 500px;
  cursor: pointer;
}

.snippet__cover {
  min-width: 35px;
  min-height: 58px;
  background-image: url("../placehold_s.png");
  background-repeat: no-repeat;
}

.snippet__text {
  font: Roboto Light;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin:20px;
}

#author {
  color: lightgray;
  margin: 0;
}

#title {
  font-style: bold;
  margin: 0;
}